<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColdlarCoinBaseInfo</key>
	<dict>
		<key>BTC</key>
		<dict>
			<key>coin_name_zh</key>
			<string>比特币</string>
			<key>coin_name_en</key>
			<string>Bitcoin</string>
			<key>coin_symbol</key>
			<string>BTC</string>
			<key>coin_id</key>
			<string>000</string>
			<key>slip44_number</key>
			<string>0</string>
			<key>addr_header</key>
			<string>0</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>best_fee</key>
			<string>0.002</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>btc1.coldlar.cc</string>
			<key>first_port</key>
			<string>5801</string>
			<key>second_host</key>
			<string>btc2.coldlar.cc</string>
			<key>second_port</key>
			<string>5801</string>
			<key>tx_detail_url</key>
			<string>https://blockchain.info/tx/</string>
			<key>flag</key>
			<array>
				<string>000</string>
				<string>BTC</string>
				<string>Btc</string>
				<string>btc</string>
				<string>Bitcoin</string>
				<string>bitcoin</string>
				<string>比特币</string>
			</array>
		</dict>
		<key>LTC</key>
		<dict>
			<key>coin_name_zh</key>
			<string>莱特币</string>
			<key>coin_name_en</key>
			<string>Litcoin</string>
			<key>coin_symbol</key>
			<string>LTC</string>
			<key>coin_id</key>
			<string>001</string>
			<key>slip44_number</key>
			<string>2</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>best_fee</key>
			<string>0.001</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>ltc1.coldlar.cc</string>
			<key>first_port</key>
			<string>5802</string>
			<key>second_host</key>
			<string>ltc-cce-2.coinomi.net</string>
			<key>second_port</key>
			<string>5002</string>
			<key>tx_detail_url</key>
			<string>https://live.blockcypher.com/ltc/tx/</string>
			<key>flag</key>
			<array>
				<string>001</string>
				<string>LTC</string>
				<string>Ltc</string>
				<string>ltc</string>
				<string>Litcoin</string>
				<string>litcoin</string>
				<string>莱特币</string>
			</array>
		</dict>
		<key>ETH</key>
		<dict>
			<key>coin_name_ch</key>
			<string>以太坊</string>
			<key>coin_name_en</key>
			<string>Ethereum</string>
			<key>coin_symbol</key>
			<string>ETH</string>
			<key>coin_id</key>
			<string>009</string>
			<key>coin_slip44</key>
			<string>60</string>
			<key>flag</key>
			<array>
				<string>009</string>
				<string>ETH</string>
				<string>Eth</string>
				<string>eth</string>
				<string>Ethereum</string>
				<string>ethereum</string>
				<string>以太坊</string>
			</array>
		</dict>
		<key>ETC</key>
		<dict>
			<key>coin_name_ch</key>
			<string>以太经典</string>
			<key>coin_name_en</key>
			<string>Ethereum Classic</string>
			<key>coin_symbol</key>
			<string>ETC</string>
			<key>coin_id</key>
			<string>010</string>
			<key>coin_slip44</key>
			<string>61</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>btc1.coldlar.cc</string>
			<key>first_port</key>
			<string>5801</string>
			<key>second_host</key>
			<string>btc2.coldlar.cc</string>
			<key>second_port</key>
			<string>5801</string>
			<key>tx_detail_url</key>
			<string>http://gastracker.io/tx/</string>
			<key>max_fee</key>
			<string></string>
			<key>gas_limit</key>
			<string>200000</string>
			<key>gas_used</key>
			<string>60000</string>
			<key>gas_price</key>
			<string>20000000000</string>
			<key>flag</key>
			<array>
				<string>010</string>
				<string>ETC</string>
				<string>Etc</string>
				<string>etc</string>
				<string>Ethclassic</string>
				<string>ethclassic</string>
				<string>EthereumClassic</string>
				<string>ethereum classic</string>
				<string>Ethereum Classic</string>
				<string>以太经典</string>
			</array>
		</dict>
		<key>DASH</key>
		<dict>
			<key>coin_name_ch</key>
			<string>达世币</string>
			<key>coin_name_en</key>
			<string>Digital Cash</string>
			<key>coin_symbol</key>
			<string>DASH</string>
			<key>coin_id</key>
			<string>003</string>
			<key>coin_slip44</key>
			<string>5</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>fee</key>
			<string>0.001</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>dash1.coldlar.cc</string>
			<key>first_port</key>
			<string>5803</string>
			<key>second_host</key>
			<string>drk-cce-2.coinomi.net</string>
			<key>second_port</key>
			<string>5013</string>
			<key>tx_detail_url</key>
			<string>https://explorer.dash.org/tx/</string>
			<key>max_fee</key>
			<string></string>
			<key>flag</key>
			<array>
				<string>003</string>
				<string>DASH</string>
				<string>Dash</string>
				<string>dash</string>
				<string>Digital Cash</string>
				<string>达世币</string>
			</array>
		</dict>
		<key>DOGE</key>
		<dict>
			<key>coin_name_zh</key>
			<string>狗狗币</string>
			<key>coin_name_en</key>
			<string>DogeCoin</string>
			<key>coin_symbol</key>
			<string>DOGE</string>
			<key>coin_id</key>
			<string>006</string>
			<key>slip44_number</key>
			<string>3</string>
			<key>addr_header</key>
			<string>30</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>best_fee</key>
			<string>1</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>doge1.coldlar.cc</string>
			<key>first_port</key>
			<string>5805</string>
			<key>second_host</key>
			<string>doge-cce-1.coinomi.net</string>
			<key>second_port</key>
			<string>5003</string>
			<key>tx_detail_url</key>
			<string>https://chain.so/tx/DOGE/</string>
			<key>flag</key>
			<array>
				<string>006</string>
				<string>DOGE</string>
				<string>Doge</string>
				<string>doge</string>
				<string>DogeCoin</string>
				<string>dogecoin</string>
				<string>Dogecoin</string>
				<string>狗狗币</string>
			</array>
		</dict>
		<key>ZEC</key>
		<dict>
			<key>coin_name_ch</key>
			<string>Zcash</string>
			<key>coin_name_en</key>
			<string>Zcash</string>
			<key>coin_symbol</key>
			<string>ZEC</string>
			<key>coin_id</key>
			<string>013</string>
			<key>coin_slip44</key>
			<string>133</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>fee</key>
			<string>0.001</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>zec1.coldlar.cc</string>
			<key>first_port</key>
			<string>5808</string>
			<key>second_host</key>
			<string>zec-cce-1.coinomi.net</string>
			<key>second_port</key>
			<string>5058</string>
			<key>tx_detail_url</key>
			<string>https://explorer.zcha.in/transactions/</string>
			<key>max_fee</key>
			<string></string>
			<key>flag</key>
			<array>
				<string>013</string>
				<string>ZEC</string>
				<string>Zcash</string>
				<string>zcash</string>
				<string>Zec</string>
				<string>ZCASH</string>
				<string>zec</string>
			</array>
		</dict>
		<key>BCH</key>
		<dict>
			<key>coin_name_ch</key>
			<string>比特现金</string>
			<key>coin_name_en</key>
			<string>Bitcoin Cash</string>
			<key>coin_symbol</key>
			<string>BCH</string>
			<key>coin_id</key>
			<string>011</string>
			<key>slip44_number</key>
			<string>145</string>
			<key>addr_header</key>
			<string>0</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>best_fee</key>
			<string>0.001</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>bcc1.coldlar.cc</string>
			<key>first_port</key>
			<string>5807</string>
			<key>second_host</key>
			<string>bcc2.coldlar.cc</string>
			<key>second_port</key>
			<string>5807</string>
			<key>tx_detail_url</key>
			<string>https://www.blocktrail.com/BCC/tx/</string>
			<key>flag</key>
			<array>
				<string>011</string>
				<string>BCC</string>
				<string>bcc</string>
				<string>Bitcoin Cash</string>
				<string>bitcoincash</string>
				<string>BCH</string>
				<string>bch</string>
				<string>BitcoinCash</string>
				<string>比特现金</string>
			</array>
		</dict>
		<key>XRP</key>
		<dict>
			<key>coin_name_ch</key>
			<string>瑞波币</string>
			<key>coin_name_en</key>
			<string>Ripple</string>
			<key>coin_symbol</key>
			<string>XRP</string>
			<key>coin_id</key>
			<string>014</string>
			<key>coin_slip44</key>
			<string>144</string>
			<key>flag</key>
			<array>
				<string>014</string>
				<string>XRP</string>
				<string>Ripple</string>
				<string>xrp</string>
				<string>Ripplecoin</string>
				<string>ripple</string>
				<string>RippleCoin</string>
				<string>瑞波币</string>
			</array>
		</dict>
		<key>XEM</key>
		<dict>
			<key>coin_name_ch</key>
			<string>新经币</string>
			<key>coin_name_en</key>
			<string>Nemcoin</string>
			<key>coin_symbol</key>
			<string>XEM</string>
			<key>coin_id</key>
			<string>015</string>
			<key>coin_slip44</key>
			<string>43</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>fee</key>
			<string>0.1</string>
			<key>max_fee</key>
			<string>1.25</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>http://104.238.161.61:7890</string>
			<key>first_port</key>
			<string>/account/get?address=</string>
			<key>second_host</key>
			<string>/node/extended-info</string>
			<key>second_port</key>
			<string>/transaction/announce</string>
			<key>tx_detail_url</key>
			<string>http://explorer.nemchina.com/#/s_tx?hash=</string>
			<key>flag</key>
			<array>
				<string>015</string>
				<string>NEM</string>
				<string>Nemcoin</string>
				<string>nemcoin</string>
				<string>xem</string>
				<string>nem</string>
				<string>XEM</string>
				<string>Xem</string>
				<string>XEMcoin</string>
				<string>NemCoin</string>
				<string>新经币</string>
			</array>
		</dict>
		<key>BTG</key>
		<dict>
			<key>coin_name_ch</key>
			<string>比特黄金</string>
			<key>coin_name_en</key>
			<string>Btgcoin</string>
			<key>coin_symbol</key>
			<string>BTG</string>
			<key>coin_id</key>
			<string>004</string>
			<key>coin_slip44</key>
			<string>156</string>
			<key>addr_header</key>
			<string>48</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>176</string>
			<key>bip44_index</key>
			<string>2</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>fee</key>
			<string>0.001</string>
			<key>dust</key>
			<string>0.00001</string>
			<key>first_host</key>
			<string>btg1.coldlar.cc</string>
			<key>first_port</key>
			<string>5811</string>
			<key>second_host</key>
			<string>btg-1.indexer.coinomi.net</string>
			<key>second_port</key>
			<string>6105</string>
			<key>tx_detail_url</key>
			<string>https://btgexplorer.com/tx/</string>
			<key>max_fee</key>
			<string></string>
			<key>flag</key>
			<array>
				<string>004</string>
				<string>BTG</string>
				<string>Btgcoin</string>
				<string>btg</string>
				<string>btgcoin</string>
				<string>BitcoinGold</string>
				<string>bitcoingold</string>
				<string>Bitcoingold</string>
				<string>Bitcoin Gold</string>
				<string>比特黄金</string>
			</array>
		</dict>
		<key>BCD</key>
		<dict>
			<key>coin_name_ch</key>
			<string>比特钻石</string>
			<key>coin_name_en</key>
			<string>Bitcoin Diamond</string>
			<key>coin_symbol</key>
			<string>BCD</string>
			<key>coin_id</key>
			<string>002</string>
			<key>coin_slip44</key>
			<string>999</string>
			<key>flag</key>
			<array>
				<string>002</string>
				<string>BCD</string>
				<string>BitcoinDiamond</string>
				<string>bcd</string>
				<string>Bitcoin Diamond</string>
				<string>比特钻石</string>
			</array>
		</dict>
		<key>SBTC</key>
		<dict>
			<key>coin_name_ch</key>
			<string>超级比特币</string>
			<key>coin_name_en</key>
			<string>Super Bitcoin</string>
			<key>coin_symbol</key>
			<string>SBTC</string>
			<key>coin_id</key>
			<string>017</string>
			<key>coin_slip44</key>
			<string>8888</string>
			<key>flag</key>
			<array>
				<string>017</string>
				<string>SBTC</string>
				<string>SuperBitcoin</string>
				<string>sbtc</string>
				<string>Super Bitcoin</string>
				<string>超级比特币</string>
			</array>
		</dict>
		<key>BCX</key>
		<dict>
			<key>coin_name_ch</key>
			<string>比特无限</string>
			<key>coin_name_en</key>
			<string>Bitcoinx</string>
			<key>coin_symbol</key>
			<string>BCX</string>
			<key>coin_id</key>
			<string>000</string>
			<key>coin_slip44</key>
			<string>1688</string>
			<key>flag</key>
			<array>
				<string>018</string>
				<string>BCX</string>
				<string>bitcoinx</string>
				<string>bcx</string>
				<string>Bitcoinx</string>
				<string>比特无限</string>
			</array>
		</dict>
		<key>QTUM</key>
		<dict>
			<key>coin_name_ch</key>
			<string>量子链</string>
			<key>coin_name_en</key>
			<string>QTUM</string>
			<key>coin_symbol</key>
			<string>QTUM</string>
			<key>coin_id</key>
			<string>020</string>
			<key>coin_slip44</key>
			<string>2301</string>
			<key>flag</key>
			<array>
				<string>020</string>
				<string>QTUM</string>
				<string>qtum</string>
				<string>Qtum</string>
				<string>量子链</string>
			</array>
		</dict>
		<key>IPC</key>
		<dict>
			<key>coin_name_ch</key>
			<string>知产链</string>
			<key>coin_name_en</key>
			<string>IPChain</string>
			<key>coin_symbol</key>
			<string>IPC</string>
			<key>coin_id</key>
			<string>021</string>
			<key>coin_slip44</key>
			<string></string>
			<key>flag</key>
			<array>
				<string>021</string>
				<string>IPChain</string>
				<string>IPC</string>
				<string>ipchain</string>
				<string>知产链</string>
			</array>
		</dict>
		<key>EOS</key>
		<dict>
			<key>coin_name_ch</key>
			<string>柚子</string>
			<key>coin_name_en</key>
			<string>Enterprise Operation System</string>
			<key>coin_symbol</key>
			<string>EOS</string>
			<key>coin_id</key>
			<string>023</string>
			<key>coin_slip44</key>
			<string>194</string>
			<key>flag</key>
			<array>
				<string>023</string>
				<string>eos</string>
				<string>EOS</string>
				<string>Enterprise Operation System</string>
				<string>柚子</string>
			</array>
		</dict>
		<key>GOD</key>
		<dict>
			<key>coin_name_ch</key>
			<string>比特上帝</string>
			<key>coin_name_en</key>
			<string>Bitcoin God</string>
			<key>coin_symbol</key>
			<string>GOD</string>
			<key>coin_id</key>
			<string>024</string>
			<key>coin_slip44</key>
			<string>9999</string>
			<key>flag</key>
			<array>
				<string>024</string>
				<string>Bitcoin God</string>
				<string>GOD</string>
				<string>bitcoingod</string>
				<string>比特上帝</string>
			</array>
		</dict>
		<key>ACT</key>
		<dict>
			<key>coin_name_ch</key>
			<string>Achain</string>
			<key>coin_name_en</key>
			<string>Achain</string>
			<key>coin_symbol</key>
			<string>ACT</string>
			<key>coin_id</key>
			<string>022</string>
			<key>coin_slip44</key>
			<string>666</string>
			<key>flag</key>
			<array>
				<string>022</string>
				<string>Achain</string>
				<string>achain</string>
				<string>act</string>
				<string>ACT</string>
			</array>
		</dict>
		<key>NEO</key>
		<dict>
			<key>coin_name_zh</key>
			<string>小蚁币</string>
			<key>coin_name_en</key>
			<string>NEO</string>
			<key>coin_symbol</key>
			<string>NEO</string>
			<key>coin_id</key>
			<string>025</string>
			<key>slip44_number</key>
			<string>888</string>
			<key>addr_header</key>
			<string>23</string>
			<key>p2sh_header</key>
			<string>5</string>
			<key>privatekey_header</key>
			<string>128</string>
			<key>bip44_index</key>
			<string>0</string>
			<key>unit_exponent</key>
			<string>8</string>
			<key>best_fee</key>
			<string>0.0002</string>
			<key>dust</key>
			<string>0.0000546</string>
			<key>first_host</key>
			<string>47.95.222.22</string>
			<key>first_port</key>
			<string>23107</string>
			<key>second_host</key>
			<string>47.95.222.22</string>
			<key>second_port</key>
			<string>23107</string>
			<key>tx_detail_url</key>
			<string>https://neotracker.io/tx/</string>
			<key>flag</key>
			<array>
				<string>025</string>
				<string>NEO</string>
				<string>neo</string>
				<string>小蚁币</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
